{
  email admin@legalchat.net
}

www.legalchat.net {
  redir https://legalchat.net{uri} 308
}

openlaw.cc, www.openlaw.cc {
  encode zstd gzip

  handle /mail* {
    reverse_proxy openlaw-auth:3210
  }

  handle /mailbox* {
    reverse_proxy openlaw-auth:3210
  }

  handle /login* {
    reverse_proxy openlaw-auth:3210
  }

  handle /logout* {
    reverse_proxy openlaw-auth:3210
  }

  handle /signout* {
    reverse_proxy openlaw-auth:3210
  }

  handle /api/auth* {
    reverse_proxy openlaw-auth:3210
  }

  handle {
    reverse_proxy openlaw-site:80
  }
}

mail.openlaw.cc {
  respond 204
}

legalchat.net {
  encode zstd gzip
  reverse_proxy login-proxy:3210
}

s3.legalchat.net {
  encode zstd gzip
  reverse_proxy lobe-minio:9000
}

auth.legalchat.net {
  encode zstd gzip
  # Route through login-proxy so hosted Logto pages can be themed consistently.
  reverse_proxy login-proxy:3210
}

admin-auth.legalchat.net {
  encode zstd gzip
  reverse_proxy logto:3002
}

http://46.225.110.68 {
  redir https://legalchat.net{uri} 308
}
